*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.DS_Store/*
gradle-7.2/*
gradle-7.2-bin.zip/*
gradle-7.2
gradle-7.2-bin.zip
/build
/captures
.externalNativeBuild
.cxx
local.properties
